<!--Bottom NavBar-->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="navbar-text">&copy; Copyright 2024. All Rights Reserved.</h6>
      <p>
        <a href="https://github.com/egoval" target="_blank">GitHub</a> |
        <a href="https://linkedin.com" target="_blank">LinkedIn</a>
    </p>
</nav>