<!--Bottom NavBar-->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="navbar-text">&copy; Copyright 2024. All Rights Reserved. <a href="https://github.com/egoval" target="_blank">GitHub</a> |
        <a href="https://linkedin.com" target="_blank">LinkedIn</a></h6>
</nav>
  <!--Script Files-->
  <script src = "/Scripts/app.js"> </script>
  <script src = "/bootstrap/dist/js/bootstrap.min.js"> </script>
  <script src="/jqery/dist/jquery.min.js"></script>
</body>
</html>
