<%- include index.ejs%>
    <section class="about">
        <img src="Assets\images\pic2.jpg" alt="My Picture">
        <p><br>Hello, my name is Brandon and I'm a second year student at Ontario Tech University.</p>
        <p>I'm 22 years old and I'm in the Networking and IT program.</p>
        <video width="320" height="240" controls poster="Assets\images\on_record.png">
            <source src="Assets\videos\aboutme.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </section>