<%- include index.ejs%>

    <section class="projects">
        
        <article>
            <h3><br>EV Charging Station Route Optimization Application</h3>
            <h3><a href="https://github.com/egoval/-EV-Charging-Station-Route-Optimization-Application">GitHub Link</a></h3>
            
            <div class="project-description">
                <p>This project focused on developing an application to optimize<br>route planning for EV users using Dijkstra’s algorithm.</p>
                <img src="Assets\images\dijkstra.jpg" alt="EV Charging Map">
            </div>
        </article>
        

        <article>
            <h3><br>Algorithms and Data Structures Assignments</h3>
            <h3><a href="https://github.com/egoval/algo-and-data-structures">GitHub Link</a></h3>
            
            <div class="project-description">
                <p>Assignment 1 was to employ fundamental data structures for effective data<br>management and to implement basic
                    sorting algorithms for sorting product data.<br><br>Assignment 2 was to gain a hands-on, in-depth understanding of sorting<br>algorithms, trace their execution and visualize
                    the sorting process.</p>
            </div>
        </article>
    </section>